body {
  background-color: #fff;
}

.section {
  width: 1440px;
  height: 496px;
  /* padding: 36px 929px 316px 156px; */
}

.timer {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-left: 156px;
  margin-right: 910px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#datetime-picker {
  min-width: 272px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
#datetime-picker:hover {
  border-color: #2e2f42;
}

.start-button {
  min-width: 75px;
  height: 40px;
  flex-shrink: 0;
  border: none;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #cfcfcf;
  color: #989898;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: 0.5s;
}

.start-button:enabled {
  background-color: #4e75ff;
  color: #fff;
  transition: 0.5s;
}

.start-button:enabled:hover {
  background-color: #6c8cff;
  transition: 0.7s;
}

.to-flex {
  display: flex;
  margin-top: 36px;
  margin-left: 156px;
  margin-right: 918px;
  gap: 8px;
}

.value {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
